{% extends 'base.html' %}

{% block title %} | Login {% endblock %}

{% block content %}
<div class="auth-content">
  <div class="auth-container">
    <span>
      {% include 'alerts.html' %}
    </span>

    <div class="auth-card">
      <div class="auth-header">

        <h2>👥 Register</h2>
      </div>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="user_type" class="form-label">User Type</label>
          <select name="user_type" id="user_type" class="form-control" required>
            <option value="">Select User Type</option>
            <option value="JOB_SEEKER">Job Seeker</option>
            <option value="EMPLOYER">Employer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
        </div><div class="form-group">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter your first name" required>
        </div><div class="form-group">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter your last name" required>
        </div>
        <div class="form-group">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Enter your phone number" required>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password"
            required>
        </div>
        <div class="form-group">
          <label for="confirm_password" class="form-label">Confirm Password</label>
          <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm your password"
            required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        {{ form.email.errors }}
					{{ form.non_field_errors }}
      </form>
       
      <div class="form-group" style="text-align: center; display: flex; justify-content: space-between;">
<a href="{% url 'social:begin' 'google-oauth2' %}">
    Sign in with Google
</a>      </div>
      
      <!-- Additional buttons for Reset Password and Register -->
       {% comment %}
      <div class="form-group" style="text-align: center; display: flex; justify-content: space-between;">
        <a href="{% url 'login' %}" style="color: #1e3a64;  ">Proceed to login</a>
        <a href="{% url 'reset_password_via_email' %}" style="color: #1e3a64;">Forgot password?</a>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}